<h3>Plan your Travel</h3>

<div class="userForm">
  <form class="inline">
  	<label for="user">User</label>
  	<select id="user" name="user">


  	</select>
  	
  	<label for="age">Age</label>
  	<select id="age" name="age">
  		<option value="5-10">5-15</option>
  		<option value="15-25">15-25</option>
  		<option value="25-35">25-35</option>
  		<option value="35-45">35-45</option>
  	</select>
  	
  	<label for="from">From</label>
  	<input id="from" class="autocomplete" />
  	
  	<label for="to">To</label>
  	<input id="to" class="autocomplete" />
  	
  	<label for="date">Date</label>
  	<input id="date" class="datepicker" />
  	<div class="clear">&nbsp;</div>
	<button type="button" class="btn btn-default navbar-btn" value="Search">Search</button>	
  </form>
  
  
</div>

<div class="travelResults">
travel results
</div>

<script type="text/template" id="user-list-template">
<option value="Select">Select</option>
			<% _.each(users, function(user) { %>
  				<option value="<%= user.id %>"><%= user.name %></option>
  			<% }); %>
</script>